In [60]:
import numpy as np
import pandas as pd

In [61]:
quantities_sold_list = [2.25,1.25,9.5, 3.5]
np_array = np.array(quantities_sold_list)
print(np_array*3)

[ 6.75  3.75 28.5  10.5 ]

In [62]:
names_list = ['brownie','cookie','cake', 'cupcake']
prices_list = [2.25,1.25,9.5, 3.5]
quantities_sold_list = [17, 40, 1, 10]

df = pd.DataFrame({'Name':names_list,
                   'Price':prices_list,
                   "Quantity Sold": quantities_sold_list})

df

      Name  Price  Quantity Sold
0  brownie   2.25             17
1   cookie   1.25             40
2     cake   9.50              1
3  cupcake   3.50             10

In [63]:
type(df)

pandas.core.frame.DataFrame

In [64]:
df.columns

Index(['Name', 'Price', 'Quantity Sold'], dtype='object')

In [65]:
df.values

array([['brownie', 2.25, 17],
       ['cookie', 1.25, 40],
       ['cake', 9.5, 1],
       ['cupcake', 3.5, 10]], dtype=object)

In [66]:
df.value_counts

<bound method DataFrame.value_counts of       Name  Price  Quantity Sold
0  brownie   2.25             17
1   cookie   1.25             40
2     cake   9.50              1
3  cupcake   3.50             10>

In [67]:
df.set_index("Name")

         Price  Quantity Sold
Name
brownie   2.25             17
cookie    1.25             40
cake      9.50              1
cupcake   3.50             10

In [68]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [69]:
#Slicing
sliced_series = df['Price']
print(sliced_series)
type(sliced_series)

0    2.25
1    1.25
2    9.50
3    3.50
Name: Price, dtype: float64

pandas.core.series.Series

In [70]:
sliced_df = df[['Price']]
print(sliced_df)
type(sliced_df)

   Price
0   2.25
1   1.25
2   9.50
3   3.50

pandas.core.frame.DataFrame

In [71]:
cols_to_slice = ['Quantity Sold', 'Price']
twoCols = df[cols_to_slice]

In [72]:
# df.shape
sliced_df.shape

(4, 1)

In [73]:
#Columns of a dataframe
df.columns

Index(['Name', 'Price', 'Quantity Sold'], dtype='object')

In [74]:
sliced_series.name

'Price'

In [75]:
# Elementwise calculations with Pandas
sales = df['Price'] * df['Quantity Sold']
sales #this is a series

0    38.25
1    50.00
2     9.50
3    35.00
dtype: float64

In [76]:
df['Sales'] = df['Price'] * df['Quantity Sold'] # thsi will add it as a new column
df

      Name  Price  Quantity Sold  Sales
0  brownie   2.25             17  38.25
1   cookie   1.25             40  50.00
2     cake   9.50              1   9.50
3  cupcake   3.50             10  35.00

In [77]:
df['Sales'].sum()

np.float64(132.75)

In [78]:
#Axis 0 --> new row
#Axis 1 --> new column
#pandas concat fucntion to add a new row or column

df = pd.concat([df,sales],axis=1)
df

# Q: how to edit column name ?

      Name  Price  Quantity Sold  Sales      0
0  brownie   2.25             17  38.25  38.25
1   cookie   1.25             40  50.00  50.00
2     cake   9.50              1   9.50   9.50
3  cupcake   3.50             10  35.00  35.00

In [83]:
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQNX3oBeyee-rQEulninLyZoBUy3JVUy3wsGkPRl-G-mbjh5iItwBfezeGkDHnwtxnLneBX3Ylm1c64/pub?gid=860339357&single=true&output=csv"
df_url = pd.read_csv(url)
df_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Item                   12 non-null     object
 1   Student                12 non-null     object
 2   Packaging              12 non-null     object
 3   Price                  12 non-null     float64
 4   Expense                12 non-null     float64
 5   Quantity Sold (Day 1)  12 non-null     int64
 6   Quantity Sold (Day 2)  12 non-null     int64
 7   Quantity Sold (Day 3)  12 non-null     int64
 8   Quantity Sold (Day 4)  12 non-null     int64
dtypes: float64(2), int64(4), object(3)
memory usage: 996.0+ bytes